body{
    margin:0;
    width:100%;
}
.heading{
    background-color: #3399cc;
    padding:1px;
}
.main-heading{
    font-family: "Century Gothic";
    font-size: 45px;
    color:white;
    font-weight: 100;
    margin-left: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    width: 100%;
}
.nav-list{
    font-family:Calibri;
    list-style-type: none;
    display:flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.nav-item{
    margin-left: 15px;
}
.icon{
    align-items: center;
    margin-left: auto;
    padding: 5px;
    padding-right: 40px;
    width:25px;
    height:25px;
}
.nav-item a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
.body{
    padding: 30px 0px 0px 20px;
    margin: 0;
}
.contact-heading{
    font-family: "Gadugi";
    color: #323232;
    font-size: 20px;
}
#list{
    padding: 10px 0px 0px 0px;
}
.list-item{
    display: block;
    border: 1px solid silver;
    width:350px;
    align-items:center ;
}
.item-name{
    font-family: "Gadugi";
    color: #363636;
    font-size: 25px;
    padding:5px 0px 0px 10px;
}
.item-email{
    font-family: "Gadugi";
    color: #363636;
    padding:2px 0px 0px 12px;
    font-size: 16px;
}
.item-phnno{
    font-family: "Gadugi";
    color: #363636;
    padding:0px 0px 5px 12px;
    font-size: 16px;
}